@media screen and (min-width: 321px) {
  .burger--btn {
    display: none;
  }
  .header-nav {
    position: inherit;
  }
  .nav__list {
    position: inherit;
    display: block;
    height: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    background: none;
    backdrop-filter: unset;
    align-items: center;
  }

  .nav__list_item {
    margin-right: 85px;
    margin-bottom: 0;
  }
  .nav__link {
    text-transform: capitalize;
  }
}
