* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

.container {
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
